[2018-05-03 21:04] KaiL4eK opened #1 "Разработка модуля управления драйвером приводов"
Необходимо разработать модуль задания мощности для привода хода, рулевого привода и системы тормоза

[2018-05-03 21:25] KaiL4eK opened #2 "Разработка модуля низкоуровневого чтения датчика положения колеса"

[2018-05-03 21:26] KaiL4eK opened #3 "Разработка драйвера датчиков руля"

[2018-05-03 21:27] KaiL4eK opened #4 "Разработка модуля чтения датчика нажатия тормоза"

[2018-05-05 13:03] KaiL4eK commented on #4
1. Датчик использует только канал АЦП?
2. Или еще присутствует концевик?
3. На что срабатывает концевик? Полное нажатие?

[2018-05-15 19:44] serykhelena commented on #1
Есть несколько вопросов:
1. В каких диапазонах должна изменяться ширина ШИМ при управлении рулём и тормозом?
2. Зачем дискретный выход при управлении тормозом?
3. Зачем дискретный выход при управлении ведущими колёсами?
4. При использовании функции для указания направления вращения, а именно drControlSetMotorDirection, что она должна делать с физической точки зрения?

[2018-05-16 19:52] DenF2412 commented on #1
1 Тормоз и рулевая система приводятся в движение с помощью двигателей постоянного тока.
Пока эти двигатели никто детально не изучал с точки зрения обоснования выбора частоты. Думаю, что для ШИМ можно начать с 1 кГц. Ширина импульса будет изменяться от некоторого минимального значения (определим его экспериментально) до 100%. Шаг изменения ширины импульса должен быть не более 10 мкс (из расчета не

[2018-05-17 21:32] KaiL4eK commented on #4
Вопросы отпали, требуется доработка драйвера в соответствии с согласованием на встрече

[2018-05-17 22:20] KaiL4eK opened #5 "Разработка драйвера ручки тормоза"
Если сегодня я правильно понял - в ручке тормоза есть лишь концевик. При этом от данной ручки необходимо асинхронное поведение для наших задач, что делает ее отличным кандидатом для отдельного низкоуровневого драйвера.

[2018-05-17 22:20] KaiL4eK commented on #5
Правильно ли все определено?

[2018-05-17 22:21] KaiL4eK commented on #1
Полагаю, 4й ответ может быть отнесен на верхний уровень, в остальном согласен

[2018-05-17 22:24] KaiL4eK commented on #4
В данной системе предполагается использовать датчик-концевик (сообщение о крайнем положении цилиндра тормоза) и датчик тока (в качестве датчика усилия)

[2018-05-17 22:36] KaiL4eK opened #6 "Разработка контура скорости привода хода (акселерация)"
Вот и первая задача из уровня повыше - контур скорости с необходимыми ограничениями задающего значения + своим законом управления. Пока можно заложиться на акселерацию, так как для десселерации (замедления) нужно будет использовать модуль привода тормоза.

[2018-05-17 22:41] KaiL4eK opened #7 "Разработка системы управления приводом тормоза"
Не берусь называть задачу разработкой контура, так как в нее будет включен концевик из датчиков привода тормоза.
Необходимо сделать (предварительно все уточнив) систему, которая позволяет задавать торможение колеса хода.
Берется в расчет тот факт, что при работе система ориентируется на контур тока через датчик. При отпускании цилиндр должен дойти до концевика и остановиться.

[2018-05-17 22:45] KaiL4eK opened #8 "Встраивание системы фильтрации датчика тока в приводе тормоза"
Не сказать, что уверен на 100 процентов, но датчик шуметь будет. Нужно на основе разработанного модуля низкого уровня встроить систему фильтрации показаний (вероятнее всего имеет смысл поднять частоту считывания АЦП при этом увеличив количество считывания - глубину буффера)

[2018-05-17 22:46] KaiL4eK opened #9 "Встраивание системы фильтрации датчика тока в приводе руля"
Аналогично с системой торможения, в приводе руля также будет использован датчик тока, что требует фильтрации.

[2018-05-17 22:49] KaiL4eK opened #10 "Разработка драйвера датчика усилия привода руля"
Помимо положение также необходимо определять усилие привода руля, дабы его не перегрузить

[2018-05-17 22:57] KaiL4eK opened #11 "Объединение периферии для драйверов, использующих внешние прерывания EXT"
Драйвер внешних прерываний EXT имеет интересную конфигурацию, при которой необходима единоразовая инициализация драйвера с дальнейшей возможностью задания режимов каналам в отдельных модулях без синхронизации.
Требуется согласовать и реализовать общий функционал для инициализации драйвера EXT со всеми отключенными каналами. При этом функционал должен поддерживать функцию проверки, инициализирован

[2018-05-18 20:50] DenF2412 commented on #5
@KaiL4eK да, все верно
Сигнал с концевика переводит систему в режим ручного управления.

[2018-05-18 21:03] DenF2412 commented on #7
@KaiL4eK  один из вариантов алгоритма реализации:
Контур замыкается по скорости.
Давим до тех пор, пока не достигли заданной скорости или остановки, если заданная скорость равна нулю.
Контур тока позволяет ограничить максимальное значение потребляемого тока за счет ограничения максимально возможного задающего воздействия со стороны контура скорости. Однако при движении на опускание тормоза, необхо

[2018-05-18 21:07] KaiL4eK commented on #7
@DenF2412 по достижении концевика достаточно снять напряжение с обмотки или необходимо поддерживать удерживающий момент?

[2018-05-18 21:12] DenF2412 commented on #10
@KaiL4eK эту задачу можно разбить на несколько:
1. Оценить усилие от привода к рулевому механизму можно в нашем случае только с помощью датчика тока.
2. По датчику момента, который встроен в привод можно оценить на сколько сильно сопротивляется оператор совершению маневра. Если вдруг оператор пытается изменить траекторию, но почему-то не нажал на тормоз, то превышение порогового значения (определя

[2018-05-18 21:21] DenF2412 commented on #7
@KaiL4eK достаточно снять напряжение,двигающее привод в сторону концевика,  усилий как раз по достижению концевика прикладывать никаких не нужно

[2018-05-19 06:24] KaiL4eK commented on #10
@DenF2412 если я правильно понял из ответа, в рулевом механизме два датчика?

[2018-05-19 21:20] KaiL4eK commented on #4
Реализовано в fa83fce

[2018-05-19 21:21] KaiL4eK commented on #4
В последнем виде есть синхронная работа с концевиком и вывод датчика тока в процентах (от 3.3V)

[2018-05-19 21:31] KaiL4eK commented on #4
Закрыт, так как на данный момент тесты написаны, железо в подготовке

[2018-05-19 22:13] KaiL4eK commented on #5
Реализовано в 631cfc7. Тест переключает состояние диода по фронту на привязанном пине. Реализация переключения в состояние ручного управление будет в отдельной issue. На данный момент реализация асинхронно в ISR контексте вызывает переданную функцию.

[2018-05-19 22:13] #5 closed, assigned to KaiL4eK

[2018-05-19 22:27] KaiL4eK commented on #11
Реализовано в ec4ef66. Теперь необходим переход на использование данного функционала.

[2018-05-19 22:27] #11 closed, assigned to KaiL4eK

[2018-05-20 21:17] KaiL4eK opened #12 "Разработка функционала черного ящика (сбор инфы)"
Одна из важных фич, которую необходимо реализовать для создания  восстанавливаемого бэклога в случае неприятных ситуаций.
Для реализации на ум приходит использование библиотеки https://github.com/abbrev/fatfs. Она имеет широкую поддержку и явно лучше самописной. Для нее потребуется низкоуровневый интерфейс. Кажется, я видел аппаратную поддержку в контроллере.

[2018-05-21 09:11] KaiL4eK commented on #12
Как выснилось, в ChibiOS есть интегрированная указанная либа и примеры, что упрощает работу с ними))

[2018-05-22 10:48] KaiL4eK commented on #12
Важное замечание! После того, как функционал будет доработан, необходимо распаковать архив в папке `chibios/ext` под названием `fatfs-0.13-patched.7z`! Надо обязательно добавить в ридми)

[2018-05-22 16:35] KaiL4eK commented on #12
Как выяснилось (и проверилось), в библиотеки поддержан интерфейс почти-POSIX, что позволяет несложно управлять файлами и писать инфу на диск
Реализация не будет слита до окончательного согласования интерфейса, на данный момент тест записи проходит

[2018-05-24 14:16] serykhelena commented on #1
Модуль ШИМ, ЦАП и цифровые выходы для задания направления работают (ветка [ll_driver_control]), ветки пока не сливались

[2018-05-24 14:16] #1 closed

[2018-05-24 14:19] serykhelena opened #13 "Переход модуля управления драйвером приводов на новое железо"
Доработать существующий модуль управления драйвером приводов в соответствии с требованиями.

[2018-05-24 17:01] KaiL4eK opened #14 "Создание файла описания использования периферии"

[2018-05-24 20:48] KaiL4eK opened #15 "Обособление системы (закона) управления в отдельный модуль"
При разборе #6 было принято решение в реализации системы управления внутри контура. Дальнейшая реализация и модификация закона управления желательна в отдельном модуле, поэтому по данному issue надо сделать модуль закона управления в отдельном файле с необходимым набором функций (пока это инициализация, получение сигнала управления, обнуление интегратора). Желательно использовать контексты, которы

[2018-05-24 20:50] KaiL4eK opened #16 "Исследование системы управления (ПИД-регулятор) на анализаторе АЧХ"
Ну, думаю топик все описывает
Для задачи пишется тест, в котором АЦП читает анализатор, проходит через закон управления и выдает сигнал в виде ЦАП.

[2018-05-24 20:51] KaiL4eK commented on #6
Дальнейшая модификация описана в #15. @TatianaEtu ты берешь эту задачу?

[2018-05-24 20:58] KaiL4eK commented on #13
Нус, что конкретно надо сделать?) Или сейчас этот issue висит в ожидании понимания конечной реализации железа?)
Мне кажется можно сделать issue на создание поля конфигурации для модуля драйверов, также добавить в него переименование (по разному функции зовутся и давайте уж звать низкий уровень lld =) ) и назвать его рефакторинг драйвера.
И еще один на создание дополнительных тестов для драйвера (п

[2018-05-24 20:59] KaiL4eK commented on #10
@DenF2412 и все таки?) Датчика получается два в руле?)

[2018-05-24 21:01] KaiL4eK commented on #8
Поступило предложение сделать модуль фильтров, в котором будут разные реализации фильтров)
Таким образом данный вопрос является не разработкой фильтра, а встраиванием модуля фильтрации.

[2018-05-24 21:04] KaiL4eK opened #17 "Разработка модуля программных фильтров"
Для начала заложимся первыми реализациями хотя бы одного фильтра
Применять предлагаю на основе контекста, в котором будут все параметры
Первой реализацией предлагаю сделать фильтр среднего (на вход массив, на выход значение)
Хотя вопрос интерфейса остается открытым, желательно его утвердить достаточно общим для всех фильтров.

[2018-05-24 21:06] KaiL4eK commented on #17
Данный вопрос должен быть решен перед реализацией #8 и #9

[2018-05-24 21:13] KaiL4eK commented on #15
Даже наверное лучше сделать (в случае ПИД) функцию установки нынешней ошибки в контекст, чтобы в функцию расчета управления передавать только контекст регулятора
Это избавит от головной боли с интерфейсами, если потребуется на вход не только ошибку, но и скорость, например
Итого - 4 функции на закон регулирования

[2018-05-24 21:23] KaiL4eK commented on #14
В f740565 создан файл, предлагаю всем подключиться к его наполнению, а также к предложениям по модификации контента

[2018-05-24 21:25] KaiL4eK commented on #14
Не пугайтесь содержания файла, есть хороший [гайд по разметке](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

[2018-05-24 21:27] KaiL4eK commented on #14
Правда немного оплашал - лучше его переместить в папку controller_driver =)
Все таки это относится к прошивке контроллера)

[2018-05-25 09:33] serykhelena commented on #3
Для этого драйвера нужно только настроить АЦП? Или ещё что-то?

[2018-05-25 09:34] serykhelena opened #18 "Переименовать функции в драйвере управления приводом"
Переименовать функции в соответствии с форматом lld... и слить ветки

[2018-05-25 11:28] TatianaEtu commented on #6
Да

[2018-05-25 11:57] serykhelena opened #19 "Добавить тесты для драйвера управления приводами"

[2018-05-25 13:24] serykhelena opened #20 "Объединить перифирии для использования одного модуля АЦП"
Думаю, что имеет смысл использовать один модуль АЦП, но разные каналы

[2018-05-25 13:25] KaiL4eK commented on #20
Такс, давай конкретнее, для каких задач?)

[2018-05-25 13:27] serykhelena commented on #20
Для использования датчика положения руля и, видимо, датчика тормоза у тебя

[2018-05-25 13:29] KaiL4eK commented on #20
Положение руля основывается на АЦП? Мы хотим использовать один модуль на разные задачи? Проблемой может стать вычленение данных для конкретных датчиков, так как в общем буфере они будут перемешаны

[2018-05-25 13:30] serykhelena commented on #20
Я не уверена, но Нина мне так сказала ... окей, тогда беру другой модуль

[2018-05-25 13:34] KaiL4eK commented on #20
На самом деле идея хорошая, надо только понять, как нам объединить и какие нужны функции чтобы забирать данные

[2018-05-25 13:35] serykhelena commented on #18
Сделано

[2018-05-25 13:35] #18 closed, assigned to serykhelena

[2018-05-25 13:36] KaiL4eK commented on #20
Необходимо просто забирать данные из буффера? Тогда можно инициализировать и запустить преобразования по триггеру. И доп функция - получить значение.

[2018-05-25 13:48] serykhelena commented on #20
Наверное, для начала - да, нужно просто забирать значения. Пока не очень понимаю, что ты имеешь в виду, но я подумаю...

[2018-05-25 21:08] KaiL4eK commented on #13
Задачи разбросаны? Эту задачу можно удалять?

[2018-05-25 21:10] KaiL4eK commented on #3
Как я понял, если все заложено на АЦП, то можно объединить данную задачу с #10, так как в обоих задачах нужен АЦП для системы руля (положение и усилие)

[2018-05-25 21:11] serykhelena commented on #13
Пока, наверное, закрывать нельзя... надо дождаться инфы от Дениса Михайловича, вроде он говорил на следующей неделе .. нужна конкретика в управлении существующим железом, возможно, всё придётся совсем поменять

[2018-05-25 21:12] serykhelena commented on #3
Да, хорошая идея

[2018-05-25 21:13] KaiL4eK commented on #3
Может в таком случае сделать один модуль на обе задачи, назвать steer sensors, а функции будут на получение steerPressPower и steerPosition?
В таком случае здесь можно использовать отдельный АЦП (например первый), а в моем модуле оставить второй
Далее еще свободен третий, но если надо будет ужаться - будем объединять

[2018-05-25 21:13] KaiL4eK commented on #3
В #10 остается непонятным, сколько там датчиков (1 или 2), тем не менее пока точно известно про датчик тока

[2018-05-25 21:14] KaiL4eK commented on #3
@serykhelena я расширяю данную задачу до двух каналов АЦП?

[2018-05-25 21:15] serykhelena commented on #3
Да, давай

[2018-05-25 21:16] KaiL4eK commented on #18
Коммит?

[2018-05-25 21:17] KaiL4eK commented on #13
Ладно, тогда переименую)

[2018-05-25 21:18] KaiL4eK commented on #10
Перенесено в #3, присваиваю nonfix

[2018-05-25 21:18] #10 closed, assigned to KaiL4eK

[2018-05-25 21:20] KaiL4eK commented on #1
Перенесен в полный Done, так как апробации с железом провести невозможно, будет переход на новый в #13

[2018-05-25 21:21] serykhelena commented on #18
Yeap

[2018-05-25 21:21] KaiL4eK commented on #20
Данный таск предлагаю оставить под вопросом, так как сейчас нет потребности в ужатии на остатки АЦП, еще, вроде, остался третий свободный

[2018-05-25 21:21] KaiL4eK commented on #18
Какой коммит?)

[2018-05-25 21:22] serykhelena commented on #18
https://github.com/KaiL4eK/tigra_project/commit/4fdff56398924dbee59e847ded61f843701e865d

[2018-05-25 21:40] KaiL4eK commented on #14
Файл перенесен, в своих ветках переносить специально не надо, git сам распознает, куда ваши изменения перекинуть

[2018-05-26 07:14] KaiL4eK commented on #6
@TatianaEtu также в реализации просьба предусмотреть ограничения входа (задания по скорости), которые можно конфигурировать.

[2018-05-26 22:00] KaiL4eK commented on #2
Коммит?

[2018-05-27 06:25] TatianaEtu commented on #2
Драйвер датчика положения и скорости колеса готов - ветка [lld_wheel_pos_sensor], завершающий коммит 06a3117

[2018-05-27 14:56] TatianaEtu commented on #6
У меня возник вопрос, направление движения должно изменяться, когда изменяется знак скорости? Т.е. задающее воздействие по скорости изменяется в диапазоне [-Vmax; +Vmax] или [0; +Vmax]?

[2018-05-28 09:27] KaiL4eK commented on #6
Как мне кажется, вход данной системы должен ограничивать пределы симметрично, регулировка переключений тормоз/газ уже является внутренней системой данного контура, поэтому просто вход системы стоит ограничить [-Vmax; +Vmax]
Хотя может быть несимметрично стоит сделать, так как сдавать назад с такой же максимально скоростью не всегда требуется

[2018-05-28 09:35] KaiL4eK commented on #8
На данный момент разработка модуля имеет малое назначение, фильтрация АЦП на тормозах будет произведена усреднением 4х значений каждый через 2.5мс с максимальным временем сэмплингов

[2018-05-28 09:37] KaiL4eK opened #21 "Создание конфигурации для драйвера приводов"
Надо бы ввести стандартизованный формат конфигурации для модулей

[2018-05-28 09:51] KaiL4eK commented on #6
Название ветки просьба называть без скобок)
Желательно еще и через формат `branch_name` (подчеркивания)

[2018-05-28 19:56] KaiL4eK commented on #7
Какой датчик тока будем пользовать? ACS172?

[2018-05-28 20:16] KaiL4eK commented on #6
Лейбл вопроса еще актуален?

[2018-05-28 21:07] KaiL4eK commented on #7
Соответственно, 01be0d6 что-то готовое, посмотрим что решим на встрече по реализации)

[2018-05-28 21:42] KaiL4eK commented on #8
В реализации датчика усилия в тормозе использован фильтр среднего по 4м считываниям 775c221

[2018-05-28 22:17] KaiL4eK commented on #19
В bf303504 появился тестик, можно управлять им через Serial и постепенно менять значения (проценты)

[2018-05-29 05:50] TatianaEtu commented on #6
Спасибо, лейбл снимаю)

[2018-05-31 15:04] serykhelena commented on #3
АЦП работает, сейчас используется два канала, самый простой тест сделан.

[2018-05-31 15:04] #3 closed

[2018-05-31 15:05] serykhelena opened #22 "Добавить тесты для драйвера датчиков руля"

[2018-05-31 19:07] serykhelena opened #23 "Разработка драйвера взаимодействия с УЗ-датчиками"

[2018-05-31 20:02] KaiL4eK commented on #23
Может есть ссылки на датчики?

[2018-05-31 20:05] serykhelena commented on #23
https://www.maxbotix.com/Ultrasonic_Sensors/MB7070.htm
https://www.maxbotix.com/Ultrasonic_Sensors/MB1200.htm

Вроде как эти два

[2018-05-31 20:06] KaiL4eK commented on #22
А чем существующий тест не устраивает? Единственное, может вывод поменять, в остальном вроде норм. Или надо проверить какой-то функционал?

[2018-05-31 20:09] KaiL4eK commented on #9
Может здесь тоже сделать усреднение по 4м? Энч вроде должен быть быстрым)

[2018-05-31 20:09] KaiL4eK opened #24 "Встраивание прослойки взаимодействия с системами верхнего уровня"
Будем ROS встраивать? =)

[2018-05-31 20:11] KaiL4eK commented on #20
Начинает поджимать, задумываться еще рано? @serykhelena что у тебя со считыванием АЦП, тоже 10 мс?

[2018-05-31 20:13] serykhelena commented on #22
Не знаю, просто мне кроме этого пока в голову ничего не пришло. Может и не надо, про какой-то функционал тоже не знаю...

[2018-05-31 20:15] serykhelena commented on #20
Пока что - да, но Денис Михайлович ещё не высказывал свои пожелания (обычно предлагается 1 мс)

[2018-05-31 20:22] serykhelena commented on #24
Я - за (мне кажется, это самое быстрое, что можно сделать....)

[2018-05-31 20:50] KaiL4eK commented on #22
Просто вся сенсорика лежит на АЦП, можно конечно сделать тест, который взаимодействует с матлабом и строить графики, дабы проверить фильтрацию

[2018-06-01 13:00] DenF2412 commented on #20
Есть мысль (поправьте меня, если она не корректная). Можно определить общую для всех частоту считывания сигналов (обычно берется наибольшая частота, например 1 кГц ;) ), контроллер раз в мс считывает все каналы и по окончанию процесса считывания производит некую обработку, если это необходимо, и раскидывает полученные и обработанные данные из буфера по глобальным переменным. Далее любой желающий м

[2018-06-08 20:44] serykhelena opened #25 "Дополнить драйвер по работе с УЗ-датчиками режимом синхронизации"
1. Настроить триггеринг таймера (события) для АЦП на 10 Гц
2. Для синхронизации настроить ШИМ (частот 10 Гц), ширина - 20 мкс (потому что даташит)

[2018-06-18 18:54] KaiL4eK commented on #24
Во время встраивания была включена опция "-specs=nosys.specs" в Makefile к USE_OPT.

[2018-06-18 22:17] KaiL4eK commented on #24
Реализовано с тестом без конфигурации на конкретные топики 39f4e1fef23e9f909fec4a675a3997159c157cd7

[2018-06-18 22:17] #24 closed, assigned to KaiL4eK

[2018-06-18 22:22] KaiL4eK commented on #8
Долго висим, коммит указан, дождемся тестов

[2018-06-18 22:22] #8 closed, assigned to KaiL4eK

[2018-06-18 22:23] KaiL4eK commented on #7
Соответственно, ПИ-регулятор в вакуме сделан, ждем железа

[2018-06-18 22:23] #7 closed, assigned to KaiL4eK

[2018-06-18 22:44] KaiL4eK commented on #9
По аналогии с датчиком в тормозе усредняем по 4м значениям / a1b29afff80738ef205bb8b99a2dd6d0cebb1dca
Все еще раздумываю над #20, может действительно влепить чтение на одном общем модуле, так и с фильтрами будет меньше заморочек

[2018-06-18 22:44] #9 closed, assigned to nobody

[2018-06-18 22:45] KaiL4eK commented on #14
Помечу как "wont fix", так как поддержка файла ведется по ходу разработки новых драйверов =)

[2018-06-18 22:46] KaiL4eK commented on #14
Даже закрою, файл таки создали, дальше просто наполняем)

[2018-06-18 22:46] #14 closed, assigned to KaiL4eK

[2018-06-18 22:48] KaiL4eK commented on #13
В настоящее время вроде инфа следующая: поворот на последовательном порте (хотя тут встает вопрос, замкнута ли система внутри платы Насти), ход на ЦАП, тормоз на ШИМ (мост соответственно).

[2018-06-18 22:50] KaiL4eK commented on #13
Если инфа соответствует правде - нужно создавать отедльные задачи на доработку каждой из частей

[2018-06-18 22:51] KaiL4eK commented on #25
Может отписаться по результатам?) Вроде поставленные заачи выполнены?)

[2018-06-18 22:52] KaiL4eK commented on #23
Кажется, если #25 уже сделан, то этот уже точно в тестированных висеть должен)

[2018-06-19 06:12] KaiL4eK opened #26 "Проверить датчик Sharp 5m на работоспособность на улице (с солнышком)"
Датчик инфракрасный - надо проверить возможность работы на улице.

[2018-06-19 09:34] KaiL4eK commented on #20
Общий модуль запилен, ADC1 используется для датчиков тормоза и руля. Issue закрываю, если понадобится еще добавить - пойдет отдельно =)

[2018-06-19 09:34] #20 closed, assigned to KaiL4eK, serykhelena

[2018-06-19 13:51] serykhelena commented on #25
Синхронизация для 2-х датчиков работает

[2018-06-19 13:51] #25 closed, assigned to serykhelena

[2018-06-19 13:51] serykhelena commented on #23
Тест сделан, работает

[2018-06-19 13:51] #23 closed, assigned to serykhelena

[2018-06-19 13:53] serykhelena opened #27 "Медианный фильтр для УЗ-датчиков"
Пока не понятно, нужен ли он вообще.

[2018-06-19 14:13] serykhelena opened #28 "Проверить функции для УЗ-датчиков"
В двух функциях uint16_t getSonarValU5cm( uint8_t firstR, uint8_t buf[4] ) и uint16_t getSonarValU7cm( uint8_t firstR, uint8_t buf[4] ), возвращается значение только, если условие истинно. Всплывает предупреждение о том, что функция не void, но возвращает значения не всегда. Хотелось бы понять, как это исправить

[2018-06-19 16:40] serykhelena commented on #28
Спасибоньки (=

[2018-06-19 16:40] #28 closed, assigned to KaiL4eK, serykhelena

[2018-06-21 21:08] KaiL4eK commented on #26
Надо больше тестов) пока проблемы только на глянцевой поверхности)

[2018-06-21 21:11] KaiL4eK commented on #4
Протестировано) e4b023c2bbcbeaa07cdf9fba374be671f9056f6c

[2018-06-21 21:12] KaiL4eK commented on #5
Ах да, надо будет проверить сигнал данной ручки)

[2018-06-21 21:12] KaiL4eK commented on #2
@serykhelena завтра (22.06) планируется провести тест данного драйвера, просьба почитать и подразобраться)

[2018-06-21 21:13] KaiL4eK commented on #7
Тут даже протестили систему управления) e4b023c2bbcbeaa07cdf9fba374be671f9056f6c

[2018-06-21 21:14] KaiL4eK commented on #25
Так это же пройденные тесты на железе?) Можно переносить в колонку пройденных тестов?)

[2018-06-21 21:14] KaiL4eK commented on #23
Собстнна, #25 уже ведь сделан? Получается тут тоже тест на железе пройден?

[2018-06-21 21:17] KaiL4eK commented on #19
Кажется тестик исчерпывающий, еще конечно можно прикрутить гуевый интерфейс, но это уже верх отладки)
Закрываю?

[2018-06-21 21:19] serykhelena commented on #19
Закрывай (:

[2018-06-21 21:19] KaiL4eK commented on #22
Для руля Настя делает контур положения, стоит вопрос, нужно ли сильно заморачиваться над тестами, так как тут уже почти готовая система)

[2018-06-21 21:19] serykhelena commented on #2
Божечки, кошечки О_о

[2018-06-21 21:20] KaiL4eK commented on #13
Такс, что с этой задачей? Кажется 2 из 3х уже реализовано, может эту закроем и конкретно по рулю пойдем?

[2018-06-21 21:21] serykhelena commented on #13
Мне нравится такая идея

[2018-06-21 21:22] KaiL4eK commented on #21
Нууус, поехали)
Газ: ЦАП - нижний порог 0.8 В, что являлось началом отсчета процентов, в результате колеса стартовали примерно с 30%. ( 0.8 В ~= 1000).
То есть 0-100 соответствует 1000-4095
Значит весь диапазон 3095, а значит стартовал примерно с 2000 (30%).
Предлагается посмотреть точку старта на земле (ах да, тестили на весу) и уже определить конфигурацию. Создание зоны конфигурации беру на себя

[2018-06-21 21:25] KaiL4eK commented on #21
По тормозу, монитор на нуле дает 1650 мВ, при правильном направлении тока вроде выяснили, что предел (3300 мВ) соответствует примерно 8А
Надо будет еще раз проверить систему, но уже сейчас можно говорить о некоторой начальной конфигурации)

[2018-06-21 21:26] KaiL4eK commented on #21
Руль - вообще не понятно) в качестве настройки можно будет сконфигурировать поток, который будет следить за током руля. В остальном: пока хз)

[2018-06-21 21:27] KaiL4eK commented on #13
Переход был очень плавный - коммит не указываю)

[2018-06-21 21:27] #13 closed, assigned to serykhelena

[2018-06-21 21:27] KaiL4eK commented on #19
Таки закрываю)

[2018-06-21 21:27] #19 closed, assigned to KaiL4eK, serykhelena

[2018-06-21 21:45] KaiL4eK opened #29 "[lld_control]: Типы данных в задании значений драйверов"
https://github.com/KaiL4eK/tigra_project/blob/ea2a2ef4bef07bae978a7ce74b1e51c1392657be/controller_driver/src/lld_control.c#L120
Не скажу, что это полноценная бага, но несет потенциально опасный характер. Если попробовать передать значения больше 255 (в некоторых 127), то биты будут обрезаны и не факт, что значения будут коректные. Рекомендуется использовать int32_t, ввиду использования 32х битного

[2018-06-21 21:50] KaiL4eK opened #30 "[lld_steer_sensors]: Что-то плохо с модулем"
https://github.com/KaiL4eK/tigra_project/blob/ea2a2ef4bef07bae978a7ce74b1e51c1392657be/controller_driver/src/lld_steer_sensors.c#L14

Возможно при слиянии произошла беда, в модуле снова появился АЦП, при этом также используется common_ADC1 реализация.

https://github.com/KaiL4eK/tigra_project/blob/ea2a2ef4bef07bae978a7ce74b1e51c1392657be/controller_driver/src/lld_steer_sensors.c#L79

Помимо этого

[2018-06-21 21:57] KaiL4eK opened #31 "[lld_brake_sensor]: Фикс состояния ножки концевика"
https://github.com/KaiL4eK/tigra_project/blob/f3656df5e906ef75ce46330d6b295e7319c0bdfc/controller_driver/src/lld_brake_sensor.c#L41
Тут была известная проблема с висением ножки с воздухе, сделал фикс, надо протестировать состояние ножки без подключения к какому либо состоянию.

[2018-06-21 22:02] KaiL4eK opened #32 "[lld_wheel_pos_sensor]: Лишний код в модуле"
Начиная с этого https://github.com/KaiL4eK/tigra_project/blob/f3656df5e906ef75ce46330d6b295e7319c0bdfc/controller_driver/src/lld_wheel_pos_sensor.c#L29
и все что касается SD - надо убрать, лишний функционал
Все, что необходимо для отладки рекомендуется реализовывать через функции и выводить через тесты.

[2018-06-22 08:52] serykhelena commented on #32
Убрано (= 51818e8be30146fcf99bfeb699e51fd2c8e63dfa

[2018-06-22 08:53] #32 closed, assigned to nobody

[2018-06-22 09:10] serykhelena commented on #30
Вроде теперь норм (= 9b7642bbccdc2ad16edf95af27ebfad1ce39d7a7

[2018-06-22 09:10] #30 closed, assigned to serykhelena

[2018-06-22 09:17] serykhelena commented on #29
@KaiL4eK  Но предполагается, что значение аргумента функции должно быть в диапазоне от 0 до 100 %, разве имеет смысл использовать int32_t в этом случае? Или может как-то ограничить вводимые значения...

[2018-06-22 09:33] serykhelena commented on #29
Добавила ограничения на вводимые значения процентов для работы с приводами. Просьба посмотреть, целесообразно ли это (=

[2018-06-22 09:36] serykhelena commented on #26
А можно поподробнее расписать тесты, какие именно нужно ещё сделать?

[2018-06-22 09:37] serykhelena commented on #22
Предлагаю пока закрыть эту issue, так как скорее всего работа с приводом руля будет осуществляться по UART (если я правильно понимаю)

[2018-06-22 09:41] serykhelena opened #33 "[test_brake_unit_cs.c] Концевик сделать нормально замкнутым"
В нажатом состоянии - низкий уровень (0), в отпущенном - высокий уровень (1)

[2018-06-22 09:43] KaiL4eK commented on #33
Это инфа от механики?

[2018-06-22 09:43] serykhelena commented on #33
Да, сейчас Денис Михайлович и Андрей Николаевич устанавливают

[2018-06-22 09:45] KaiL4eK commented on #31
В соответствии с #33 надо поменять режим на `PAL_MODE_INPUT_PULLUP` и протестить, чтобы пока цилиндр катается, концевик считался отпущенным

[2018-06-22 09:46] KaiL4eK commented on #29
Ввод ограничить - правильно, проблема в передаче значений в функцию
Если кинуть на нее int16_t (управение может выходить за пределы), он урежет последние 8бит и в результате вместо 300 будет что-то не то

[2018-06-22 09:48] KaiL4eK commented on #29
Установкой аргументам int32_t мы исключаем возможность нечаяно обрезать биты, если пользователь данной функции сам не учел ограничения (защита от дурака)

[2018-06-22 09:49] KaiL4eK commented on #26
Имею ввиду еще при солнце ярком потестить)

[2018-06-22 09:49] #22 closed, assigned to serykhelena

[2018-06-22 18:12] #29 closed, assigned to serykhelena

[2018-06-22 18:14] KaiL4eK commented on #33
Еще раз укажу коммит, но в issue уже указана ссылка 67aa083

[2018-06-22 18:14] #33 closed, assigned to nobody

[2018-06-22 18:15] KaiL4eK commented on #31
67aa083 проверено, все работает, низкий уровень - концевик нажат, подтяжка к высокому уровню

[2018-06-22 18:15] #31 closed, assigned to nobody

[2018-06-22 18:20] KaiL4eK opened #34 "[lld_control]: Функция направления руля"
https://github.com/KaiL4eK/tigra_project/blob/67aa0831d66c61a397c5323a950d30fa3533fe23/controller_driver/src/lld_control.c#L231
Не уверен, что данная функция понадобится, так как можно будет напрямую передавать положительное и отрицательное значение для направления.

[2018-06-22 19:17] KaiL4eK commented on #6
Что-то есть в e2686eb7, ждемс тесты)

[2018-06-22 20:19] KaiL4eK commented on #15
Сделано 69163a9, ныне задание ошибки делается ручками)

[2018-06-22 20:19] #15 closed, assigned to TatianaEtu

[2018-06-22 20:43] KaiL4eK commented on #17
Данную issue закрываю, в 8a34755 сделано ФНЧ, коэффициент настраивается, по необходимости открываем новые задачи)

[2018-06-22 20:43] #17 closed, assigned to nobody

[2018-06-25 12:24] serykhelena commented on #26
Работают (=

[2018-06-25 12:24] #26 closed, assigned to serykhelena

[2018-06-25 15:57] serykhelena opened #35 "Драйвер резервного управления приводом руля"
В пятницу приедет ESC, для неё надо ШИМ (100 Гц) и функции с аргументами (заданием) от -100% до 100%

[2018-06-25 16:17] serykhelena commented on #35
Сделано, функция lldControlSetSteerPower(..), нужно будет правильные коэффициенты пересчёта из % в скважность указать. dffe5a22f4c5656de2ebce5a81d4f5de3b022734

[2018-06-25 16:17] #35 closed, assigned to serykhelena

[2018-06-25 16:17] serykhelena commented on #34
Убрано dffe5a22f4c5656de2ebce5a81d4f5de3b022734

[2018-06-25 16:17] #34 closed, assigned to nobody

[2018-06-25 19:58] KaiL4eK commented on #35
Так коэффициенты - это конфигурация? То есть найти пределы управления?

[2018-06-26 07:13] serykhelena commented on #35
Да, именно (:

[2018-06-26 10:58] serykhelena opened #36 "Добавить ещё один канал АЦП для датчика скорости"

[2018-06-26 11:33] serykhelena commented on #36
2ade6152ce7e8a3e47630975cc28d00b169e1ee8 Добавлено

[2018-06-26 11:33] #36 closed, assigned to nobody

[2018-06-28 12:08] KaiL4eK opened #37 "Провести испытания датчика скорости колес"
Надо проверить разработанную плату и провести испытания аналогового датчика скорости

[2018-06-28 12:09] KaiL4eK opened #38 "Провести испытания датчика положения руля"
Нужно испытать аналоговый датчик положения руля

[2018-06-28 12:32] KaiL4eK opened #39 "Проверить скрипт (матлаб) управления со снятием данных"
Надо проверить задание значений через слайдер матлаб гуёв)
Предлагаю такую схему, так как у нас все в процентах, то протокол следующий:
-127 - отключить передачу данных
127 - включить передачу данных
-100:100 - передаваемое задание

[2018-06-29 14:21] serykhelena opened #40 "Разработка СУ для управления положением руля"
Резервный вариант управления с ESC

[2018-06-30 07:01] KaiL4eK commented on #39
Задание работает, можно встраивать для тестов

[2018-06-30 07:01] #39 closed, assigned to nobody

[2018-06-30 07:04] #6 closed, assigned to TatianaEtu

[2018-06-30 07:05] KaiL4eK opened #41 "Испытания контура скорости колес (акселерация)"
Надо тееесты. больше тестов)

[2018-06-30 07:05] KaiL4eK commented on #21
На данный момент все пределы управления и параметры преобразования найдены?

[2018-06-30 07:08] KaiL4eK opened #42 "Конфигурация датчиков руля"
Надо найти пределы АЦП и преобразование в симметричный диапазон положения руля (-100:100). Предлагается использовать float с переименованием на имя датчика (typedef).

[2018-06-30 07:09] serykhelena commented on #42
Диапазон 188 до 3885 примерно (единицытАЦП)

[2018-06-30 09:01] KaiL4eK commented on #42
Это относительно 5В?
У нас же 3.3

[2018-06-30 09:14] serykhelena commented on #38
Испытания провели, но только пока отдельно от тигры

[2018-06-30 09:14] serykhelena commented on #42
Это уже 3.3. Я поставила делитель напряжения, поэтому STM-ка получает сигналы в диапазоне от 0 до 3.3 В

[2018-06-30 11:36] #38 closed, assigned to nobody

[2018-06-30 11:37] KaiL4eK commented on #42
Коммит уже был?

[2018-06-30 20:11] KaiL4eK opened #43 "Система управления руля по положению"
https://github.com/KaiL4eK/tigra_project/blob/d401ff1abbd73f1ca3eabe27ed17cf0adb35bc5b/controller_driver/src/steer_unit_cs.c#L35

Датчик возвращает положение руля, при этом функция называется `Power`. Может стоит переименовать как функцию, так и аргументы?

[2018-07-01 09:25] KaiL4eK opened #44 "Ограничение выхода датчика руля"
https://github.com/KaiL4eK/tigra_project/blob/d401ff1abbd73f1ca3eabe27ed17cf0adb35bc5b/controller_driver/src/steer_unit_cs.c#L44

Такое ограничение относится к самому датчику, а не к СУ. Возможно, вместе с масштабирование, имеет смысл разместить конфигурацию внутри модуля датчиков руля.

[2018-07-01 09:29] KaiL4eK opened #45 "Имитация двойного нажатия пульта перехода в реверс"
https://github.com/KaiL4eK/tigra_project/blob/d401ff1abbd73f1ca3eabe27ed17cf0adb35bc5b/controller_driver/src/steer_unit_cs.c#L66

Хитрая реализация имитации, вероятно, относится не к СУ, а к самому заданию управления, так как при замене ESC на, например, драйвер имитация более не потребуется.

Также просьба кратко описать логику имитации.

[2018-07-01 09:37] KaiL4eK commented on #45
Интересует, конкретно, почему задана следующая последовательность (возьмем дискрету 10мс):
150мс / задание нулевого значения
50мс / задание отрицательного
100 мс / задание нулевого значения
700 мс / задание отрицательного значения
После этих симуляций - задание значения как оно есть

[2018-07-01 09:41] KaiL4eK commented on #45
https://github.com/KaiL4eK/tigra_project/blob/d401ff1abbd73f1ca3eabe27ed17cf0adb35bc5b/controller_driver/tests/test_steer_unit_cs.c#L55

А теперь вопрос к тесту - почему `Sleep` за пределами `while ( 1 )`?
Получается, задание проскакивает без задержек? При этом вычислительная скорость достаточно высока и большое количество заданий ШИМ не имеет силы, так как период одного импульса ШИМ еще не законч

[2018-07-01 09:43] KaiL4eK commented on #43
https://github.com/KaiL4eK/tigra_project/blob/d401ff1abbd73f1ca3eabe27ed17cf0adb35bc5b/controller_driver/tests/test_steer_unit_cs.c#L22

Значение задания не имеет какой-либо подкрепленной единицы. Не уверен, что использовать единицы АЦП с точки зрения абстракции кода - хорошая практика, так как при изменении разрядности АЦП придется везде менять логику работы системы.

[2018-07-01 10:26] DenF2412 commented on #45
По последовательности действий:
При работе с пульта управления (радиоуправления) при переходе с движения вперед на движение назад ESC реверс не включает, для движения в обратную сторону нужно отпустить курок в нейтральное положение и снова нажать для движения назад.
Также экспериментально было выяснено, что esc не всегда отрабатывает реверс, если сразу после нуля дать -100 (почему так, вопрос откр

[2018-07-01 10:48] KaiL4eK commented on #45
Логика понятна, при этом на форумах пишут, что первый переход на отрицательную область включает тормоз, далее переход на ноль и после этого снова на реверс уже переводит ESC на работу в обратную сторону.
Предлагаю тогда во вторник проработать этот момент, так как в совокупности с вопросами по тесту появляется множество вопросов по тому, были ли фиксы после коммита, или же действительно получалось

[2018-07-01 10:57] KaiL4eK commented on #45
Одна из ссылок на принцип работы: https://www.rcgroups.com/forums/showpost.php?p=22344816&postcount=4

[2018-07-01 11:18] KaiL4eK commented on #45
Еще одна: https://www.raspberrypi.org/forums/viewtopic.php?t=63932

[2018-07-01 11:26] DenF2412 commented on #44
Думаю, что лучше всего привести рабочий диапазон датчика к -100 +100 (хотя и этот диапазон избыточен с учетом особенности механики рулевого привода).
Также стоит производить проверку значений АЦП на корректность. Если значения около нуля - авария (обрыв сигнального провода или питания датчика). Если значения выбиваются больше чем на N единиц выше максимального угла поворота или ниже минимального -

[2018-07-01 13:27] KaiL4eK opened #46 "Разработка детектора критических ситуаций датчика положения руля"
В соответствии с комментом в #44 предлагается дополнить модуль датчика положения проверкой на ситуации, которые стоит выделять.
В качестве предложенных стоит выделить важную проверку на выход за границы. Задав в конфигурации #42 предельные значения АЦП при поворотах, можно оценить превышение (пределов), например, на 100 единиц, что в результате сообщит о нештатной работе и потребует каких-либо дей

[2018-07-02 11:52] KaiL4eK opened #47 "Разработка теста подачи питания на рулевой привод"
Данный тест планируется использовать в рабочем режиме, предлагается сделать функцию, которая проверяет способность ESC подавать питание на привод.
Логика в общих чертах:
- Подать малое питание на привод (Задать малый уровень ШИМ)
- Проверить значение датчика тока руля
- Проверить превышение значения тока заданного порога (по факту отсутствие контакта - выключенный ESC не приведет к росту тока вооб

[2018-07-02 11:54] KaiL4eK opened #48 "Создание мертвой зоны по ошибке в системе управления рулем"
Предлагается добавить нелинейность с целью исключения осцилляций возле уставки
Логика: задать значение ширины метвой зоны (конфиг), при размещении ошибки внутри данной зоны обнулять саму ошибку

[2018-07-02 12:39] KaiL4eK commented on #43
Коммит указан ссылкой 693f3da

[2018-07-02 12:39] #43 closed, assigned to KaiL4eK

[2018-07-02 12:41] KaiL4eK commented on #46
Добавлено 72b7490

[2018-07-02 12:41] #46 closed, assigned to KaiL4eK

[2018-07-02 12:42] KaiL4eK commented on #44
Конфигурация вместе со связанными проверками сделаны в 72b7490

[2018-07-02 12:42] #44 closed, assigned to KaiL4eK

[2018-07-02 12:43] KaiL4eK commented on #42
Конфигурация сдалана на половину, остался несконфигурированным датчик тока

[2018-07-02 12:43] KaiL4eK commented on #27
Жутковато фильтровать на частоте 5Гц =)

[2018-07-02 14:03] serykhelena commented on #47
3a660953adf9a6a8a0f30504e7d9791c457e8dbf Нужно тестить...

[2018-07-02 14:17] KaiL4eK commented on #45
Перенесено и проверено в 6fe19f4

[2018-07-02 14:17] #45 closed, assigned to KaiL4eK, serykhelena

[2018-07-02 14:37] KaiL4eK commented on #48
Реализовано в 78cb6ad

[2018-07-02 14:37] #48 closed, assigned to KaiL4eK

[2018-07-02 15:04] KaiL4eK commented on #40
@serykhelena твой код немного пофикшен в 2e29aff

[2018-07-02 15:04] #40 closed, assigned to serykhelena

[2018-07-02 15:05] KaiL4eK commented on #42
Вроде 2e29aff появилась подготовка к точной конфигурации, закрываю

[2018-07-02 15:05] #42 closed, assigned to KaiL4eK

[2018-07-02 15:08] KaiL4eK opened #49 "Настроить датчик тока руля"
Датчик тока не настроен на точный диапазон, необходимо провести тесты и донастроить.
На данный момент 100% выдается при наличии на АЦП 3.3В

[2018-07-02 15:10] KaiL4eK opened #50 "Испытания системы управления рулевым механизмом"
https://github.com/KaiL4eK/tigra_project/blob/2e29affad7a43e871b4ffa88690490c0a871cd0f/controller_driver/src/steer_unit_cs.c#L5

Много изменений с последнего теста появилось, надо протестировать новые фиксы и настроить регулятор.

[2018-07-02 15:15] KaiL4eK commented on #21
Давно уже висит, закрываю + похоже вся конфигурация более менее настроена. По отдельным - отдельные issue =)

[2018-07-02 15:15] #21 closed, assigned to KaiL4eK, serykhelena

[2018-07-02 15:24] KaiL4eK commented on #47
Прадлагается перенести `testSteerPoweredStatus()` в модуль `lld_control`, так как по задумке тест не является тестом =)
По факту сама функция должна возвращать булево значение, говорящее о подключении ESC (состояние вкл/выкл)
- Назвать предлагается `lldControlSteerIsEnabled()`
- Важно отметить в комментариях к прототипу, что функция имеет задержки внутри и не должна вызываться внутри цикла управле

[2018-07-02 15:28] KaiL4eK opened #51 "Проверить и настроить LPF фильтры у аналоговых датчиков"
В общем АЦП1 (commonADC1) используется 4 канала, у каждого имеется свой набор коэффициентов LPF. Необходимо провести тесты и настроить коэффициенты фильтров для удовлетворительного результата.
Важно! Рекомендуется проводить тестирование при собранной системе и включенной механике (дабы отследить влияние ЭМП).

[2018-07-02 15:29] KaiL4eK commented on #51
Либо можно переключиться на фильтр по 4м средним (среднего по глубине буффера) и не париться =)

[2018-07-03 09:20] serykhelena commented on #50
f2151621b2777f871a24dedac1b57490ec12ed68 Сделана первоначальная настройка регулятора, возможно, нужно будет немного подправить коэффициенты, но это надо уже в процессе движения тигры делать

[2018-07-03 09:20] #50 closed, assigned to serykhelena

[2018-07-03 09:21] serykhelena commented on #50
Система работает с новыми фиксами

[2018-07-03 09:47] serykhelena commented on #47
@KaiL4eK если будет возможность, посмотри, пожалуйста, по коду - то ли это, что нужно. И может быть вывод по UART как-то по-другому оформить, но пока в голову ничего лучше не пришло (= На этом issue закрываю, скоро открою issue по тестированию этого фнукционала

[2018-07-03 09:48] serykhelena opened #52 "Тестирование функционала подачи питания на рулевой привод"

[2018-07-03 09:50] KaiL4eK commented on #47
Все сделано отлично, в соответствии с предложениями)
Я плохой совет дал с точки зрения абстракции, сейчас получается, что в lld_control изпользуется lld_steer_sensors, что является плохой привязкой

[2018-07-03 09:51] KaiL4eK commented on #47
В целом по логике - можно проверять не каждое значение, а накопить и в конце проверить среднее
Также заметил, что не хватает задержки между считываниями датчика

[2018-07-03 09:52] KaiL4eK commented on #47
По поводу абстракции, полагаю есть смысл перенести функцию в модуль системы управления рулем, там использование низкоуровневых функций оправдано

[2018-07-03 09:54] serykhelena commented on #47
Да, между считываниями нет... но конечное значение флага формируется, только после прогонки 500 тиков.. в функции lldControl SteerIsEnable()..Наверное, нужно поаккуратнее с задержками (=

[2018-07-03 09:58] KaiL4eK commented on #47
Все верно, только результат формируется не по результатам 500 итераций, а по каждой итерации, меняя каждый раз флаг
Задержка здесь будет оправдана, так как необходимо в комментариязх к прототипу написать о требовании вызывать данный тест вне управления (вначале, например)
И все таки из-за нарушения абстракции предлагаю перенос функции (с переименованием) в модуль СУ - открываю issue обратно

[2018-07-03 09:59] KaiL4eK commented on #47
https://github.com/KaiL4eK/tigra_project/blob/024b6d2ae7a388fb1758f81121e2b469362808ae/controller_driver/src/lld_control.c#L304

Этот кусочек можно заменить возвратом самого флага

[2018-07-03 11:01] serykhelena opened #53 "Добавить управление освещением"
Встроить в систему управления (либо как-то иначе) изменение уровней дискретных выходов, позволяющих осуществлять индикацию светом (поворотники, стоп-огни)

[2018-07-03 11:03] KaiL4eK commented on #53
Есть вариант добавить в каждый ответственный модуль (тормоз, руль) свои выводы и соответственно реализовывать индикацию)

[2018-07-03 11:20] serykhelena commented on #47
Получается мне внутри функции проверки нужно использовать счётчик и while по условию этого счётчика, типа делай 500 раз считывание датчика и накопление значения с задержкой 10 мс. Но как же возвращать bool значение в конце... например, берём 5 считываний: 1 + 1 + 0 + 1 + 1 = 4 -> 4/5 = 0.8 ??

[2018-07-03 12:06] KaiL4eK commented on #47
Берем среднее, как и представлено, сравниваем с порогом, выше порога (true) или ниже (false)
рекомендую счетчик сделать 100 вместо 500, секунды на тест, думаю, хватит
[code]

[2018-07-03 12:08] KaiL4eK commented on #47
Не забываем, что значения тока в процентах, представленный код работает только для правильного подключения фаз
Таким образом тест выдаст false для неверного подключения фаз
И не забыть написать комментарий (note) о том, что тест включает цикл и задержку

[2018-07-03 13:07] serykhelena commented on #47
Тогда отдельный тест излишен, я его убираю?

[2018-07-03 13:15] KaiL4eK commented on #47
Почему излишен?

[2018-07-03 13:15] KaiL4eK commented on #47
Коммит хороший)

[2018-07-03 13:16] serykhelena commented on #47
Тест оставила, но не уверена в его внутренностях. Функцию переместила в steer_unit_cs.c

[2018-07-03 13:19] KaiL4eK commented on #47
Тест можно оставить - полезный
По фиксам теста мысли:
- Заменить отдельную инициализацию control и sensors на cs_init (включает оба)
- Разместить вызов теста внутри while и вызывать его без задержек (внутри него и так секунда задержки)
- Вывод инфы норм - просто выводить результат теста
- Можно еще добавить функционал включения/выключения вызова `isEnabled` - например на символ 1 вызывать тест (об

[2018-07-03 13:40] serykhelena commented on #53
Под ответственным модулем ты подразумеваешь функцию, .с-файл? Просто меня немного смущает, что например, реализация поворотников требует задержки между изменениями состояний лап. Я думала сделать это через счётчик, но тогда это нужно внедрять прямо в систему управления (например)

[2018-07-03 13:44] KaiL4eK commented on #47
Пара моментов по тесту)
- Под cs_init имел ввиду `steerUnitCSInit()` =) Впредь буду точнее описывать)
- На данный момент в тесте функция `isEnabled` вызывается только если набран символ 1
- Предлагался вариант похожий на следующий:
[code]

[2018-07-03 13:56] KaiL4eK commented on #53
Оу, а что за задержка? Тут поподробнее, я не в курсе)

[2018-07-03 13:56] KaiL4eK commented on #53
Да все верно, обычно модулем называется .с файл (один из вариантов разбиения)

[2018-07-03 14:05] serykhelena commented on #47
@KaiL4eK  на счёт steerUnitCSInit я так тебя и не поняла .... ведь такая функция уже есть, и вроде как ты просил из неё объединить две инита в другую функцию? Или я неверно поняла тебя? (=

[2018-07-03 14:05] KaiL4eK commented on #47
Ха-ха, коммент в зачет, закрываем)

[2018-07-03 14:06] KaiL4eK commented on #47
Хотя стоп, щас инит вообще куда-то пропал =)

[2018-07-03 14:06] serykhelena commented on #53
Ну, например, чтобы человек мог видеть, как мигают поворотники, нужно чтобы между сменой уровней была, например, 1 с

[2018-07-03 14:07] KaiL4eK commented on #47
Да, я и предлагал ее использовать) `steerUnitCSInit`

[2018-07-03 14:08] KaiL4eK commented on #47
Сейчас тоже хорошо выглядит, правда)
Инит бы только, а то тест не запустится =)

[2018-07-03 14:09] serykhelena commented on #47
Согласна, косяк (= "Щазззз" всё будет (=

[2018-07-03 14:10] KaiL4eK commented on #47
Коммит и закрывай =)

[2018-07-03 14:11] KaiL4eK commented on #53
аа, ты имеешь ввиду то, что поворотники не горят сплошным цветом, а мигают?

[2018-07-03 14:12] serykhelena commented on #47
Уиииии, Халк хочет закрывать!!!

[2018-07-03 14:12] #47 closed, assigned to serykhelena

[2018-07-03 14:12] KaiL4eK commented on #52
Теперь реально надо проверить и понять, какой порог и может стоит побольше ШИМ подать

[2018-07-03 14:12] KaiL4eK commented on #52
Короче конфиг настроить =)

[2018-07-03 14:12] serykhelena commented on #53
Да, да, именно

[2018-07-03 14:24] KaiL4eK commented on #53
Ну, например, можно сделать модуль, в котором будет вертеться один поток, который будет просто следить за состоянием переменных (или битовой маски) и переводить состояния ножек.
Можно использовать ШИМ каналы и просто переключать между включен ШИМ (50% скважности) и выключен. Аналогично с первой идеей - в отдельном потоке, который связан с остальными через переменные.

[2018-07-03 14:26] serykhelena commented on #53
Таккк... это мне нужно осознать... а тот факт, что включение освещения зависит от значения управляющего сигнала, который рассчитывается совсем в другом модуле..это ничего? в том смысле, они увидят друг друга..то? (=

[2018-07-03 14:35] KaiL4eK commented on #53
Тут скорее вопрос, на что мы хотим завязаться. Если мы мигаем конкретным поворотником в ситуации, когда значение датчика перешло какой-то порог, то мы как-бы завязываемся на датчик и в модуле системы управления, получая сигнал с датчика, можем оценить и установить тот или иной мигалку функцией типа `lightsSetBlinking( RIGHT )`. Внутри нее она просто устанавливает переменную, которую прочитает пото

[2018-07-03 14:37] KaiL4eK commented on #53
или вообще, можно установить `enum`, который будем передавать в функцию `lightsSetState( state )` состояние.
`enum` может состоять из состояний:
- LIGHTS_TURN_RIGHT
- LIGHTS_TURN_LEFT
- LIGHTS_TURN_BRAKE
- LIGHTS_MOVE_FRWRD
- LIGHTS_MOVE_BCKWRD
В результате внутри потока мигалок будут устанавливаться те или иные включения/выключения

[2018-07-03 14:39] KaiL4eK commented on #53
А установка состояний, например FRWRD будет отменять состояния LEFT и RIGHT, если те были установлены ранее
То есть настроится база правил, что одно состояние отменяет другое (-ие)

[2018-07-03 14:39] KaiL4eK commented on #53
не уверен, что правильно завязываться на сигнал задания, хотя и так можно)

[2018-07-03 15:55] serykhelena commented on #53
Денис Михайлович предлагает всё же по сигналу управления, потому что поворотник нужен для того, чтобы показать намерение поворота, а не факт того, что поворот уже происходит. Лёш, я правильно понимаю, что в функции `lightsSetState( state)` я в переменную записываю состояние из enum. Потом относительно сигнала управления - меняю эту переменную на другое состояние. Также делаю несколько потоков, в к

[2018-07-03 16:30] serykhelena commented on #53
@KaiL4eK  посмотри, пожалуйста, как будет возможность, можно ли так вообще делать (=

[2018-07-03 16:48] KaiL4eK commented on #53
Да, основная идея такая, только пару моментов:
- Может быть побольше задержку (таки 10-20 мс хотя бы, хотя это дело вкуса)
- https://github.com/KaiL4eK/tigra_project/blob/33d994916b5fef8de7675fb5b460c7a0ebd77787/controller_driver/src/light_unit.c#L116
Здесь основная задумка была просто в передаче состояния переменной (то еть функция из одной строки =)), а принятие решения, что включать реализовыва

[2018-07-03 16:51] KaiL4eK commented on #53
Вот именно про это я в последнем комменте и расписал)

[2018-07-03 16:54] serykhelena commented on #53
Я думала эту функцию `void lightsSetState( int32_t controlSignal ) ` использовать в CS по рулю.... это не вызовет дополнительных задержек? Ведь потоки сами должны разобрать, нет?
И ещё...я сейчас убрала ШИМ и вернулась к pal, потому что мне нужна настройка ножек на opendrain... возможно, для ШИМ тоже можно было такую настройку сделать...не знаешь случайно ? (=

[2018-07-03 16:55] serykhelena commented on #53
В общем, что-то я запуталась....
А как сделать enum публичным? О_о

[2018-07-03 16:55] KaiL4eK commented on #53
В заголовок засунуть

[2018-07-03 16:57] KaiL4eK commented on #53
Ну помимо поворота есть же еще и лампочки "Стоп"?
И причем тут задержки?

[2018-07-03 16:58] KaiL4eK commented on #53
Может быть, вместе с Alternate поставить еще и Opendrain?

[2018-07-03 17:01] serykhelena commented on #53
Лампочки Стоп, наверное, должны зависеть от тормоза, в общем, я тут посидела и поняла, что мне не совсем понятно по каким событиям они должны зажигаться, нужно ловить ДМ для этого...  Честно говоря, я хотела в CS для руля перед функцией `lldControlSetSteerPower` поставить `lightsSetState` и всё.... Я сейчас скину коммит....удобно посмотреть?

[2018-07-03 17:04] KaiL4eK commented on #53
Давай попробуем) Идея в том, что много менять не надо) Сейчас внутри этой функции у тебя стоит
https://github.com/KaiL4eK/tigra_project/blob/33d994916b5fef8de7675fb5b460c7a0ebd77787/controller_driver/src/light_unit.c#L119
Я же предлагаю это поставить внутрь CS, и будет что-то типа
[code]
А Сама функция `lightsSetState()` просто устанавливает глобальную переменную

[2018-07-03 17:05] KaiL4eK commented on #53
https://github.com/KaiL4eK/tigra_project/blob/db7e06597ddf76fb8c6d5ebc00b6511362c4c8f2/controller_driver/src/light_unit.c#L40

Нееееееет....
Это же зависон для потока...)

[2018-07-03 17:06] serykhelena commented on #53
Да...фигня какая-то....согласна .

[2018-07-03 17:09] serykhelena commented on #53
То есть, если у меня сейчас 3 правила - нужно 3 потока?

[2018-07-03 17:09] KaiL4eK commented on #53
Ну, можно и на одном сделать)

[2018-07-03 17:10] KaiL4eK commented on #53
Просто с использованием счетчиков и масок, сейчас попробую коммитнуть

[2018-07-03 17:11] serykhelena commented on #53
Стооооооооооооййййййййййййй

[2018-07-03 17:12] KaiL4eK commented on #53
??

[2018-07-03 17:23] serykhelena commented on #53
Извини, поторопилась (= Коммить (=

[2018-07-03 18:08] KaiL4eK commented on #53
https://github.com/KaiL4eK/tigra_project/blob/33d994916b5fef8de7675fb5b460c7a0ebd77787/controller_driver/src/steer_unit_cs.c#L86
А вот после этой строки можно добавить установку поворотника)

[2018-07-03 18:09] KaiL4eK commented on #53
И не забудь тест написать для него, можно разместить в тесте tigra_project/controller_driver/tests/test_lightning.c

[2018-07-03 18:10] serykhelena commented on #53
Вроде есть уже тест..но я сейчас посмотрю все изменения, возможно, тест надо будет исправить..

[2018-07-03 18:11] KaiL4eK commented on #53
Ага, я только посмотрел в него) ну тогда в соотетствии с тем, что сейчас задается не control, а state, можно повключать разные режимы с задержкой)

[2018-07-03 18:11] KaiL4eK commented on #53
Или на каждую букву поставить свой режим)

[2018-07-05 18:05] KaiL4eK commented on #37
По результатам, 100 rpm (что примерно соответствует 10 км/ч) датчик выдает 12-12.5 В, Схема по теории должна работать (с ОУ). Датчик холла подключается, все работает. По нему мы сможем откалибровать схему.

[2018-07-08 12:03] KaiL4eK commented on #41
Небольшие размышления по поводу пересчета линейной скорости в rpm:
Колесо в диаметре 50 см, значит проход у него 1.57 м/об ( 50 /100 * pi )
Для получения требуемой скорости вращения колеса получаем уравнение:
1.57 [м/об] * y [об/мин] = x [м/с] * 60 [с/мин]
Или в виде функции:
rpm = lin_speed * 60 / 1.57 = ( lin_speed * 60 * 100 ) / ( 50 * pi ) ~= lin_speed * 38.2
rpm ~= lin_speed * 38.2

[2018-07-16 20:33] KaiL4eK commented on #53
Полагаю, можно закрвать?)

[2018-07-16 20:34] KaiL4eK commented on #52
Вроде на момент поездки было все адекватно, закрываем?)

[2018-07-16 20:35] KaiL4eK commented on #49
Не был использован)

[2018-07-16 20:35] #49 closed, assigned to nobody

[2018-07-16 20:35] serykhelena commented on #53
В общем-то да (:

[2018-07-16 20:35] serykhelena commented on #52
Я за (:

[2018-07-16 20:35] KaiL4eK commented on #41
СУ для колес не было использовано, прямая подача задания на инвертор с некоторыми дополнениями

[2018-07-16 20:35] #41 closed, assigned to nobody

[2018-07-16 20:36] #52 closed, assigned to serykhelena

[2018-07-16 20:36] #53 closed, assigned to serykhelena

[2018-07-16 20:37] KaiL4eK commented on #27
С УЗ вообще не понятно, данный issue закрою, надо конкретно провести испытания по влиянию различнх факторов

[2018-07-16 20:37] #27 closed, assigned to serykhelena

[2018-07-16 20:38] KaiL4eK commented on #37
Аналоговый датчик отвалился (не использован), СУ для контура скорости также не потребовалась

[2018-07-16 20:38] #37 closed, assigned to nobody

[2018-07-16 20:38] KaiL4eK commented on #51
Пока закрываю, нужна более детальная проработка филтрации и используемых датчиков

[2018-07-16 20:38] #51 closed, assigned to nobody

[2019-08-06 22:12] #16 closed, assigned to nobody

[2020-06-09 13:25] Shnuer opened #54 "Добавление карты университета в gazebo"
Проверить возможность создания карты города, т.е. довольно большые масштабы.

[2021-06-12 07:56] KaiL4eK opened #59 "Подключение GPS в ROS"
Получаем данные GPS + Compass с ublox в ROS

[2021-06-12 07:57] KaiL4eK opened #60 "Разработка правил UDEV для установки камер"
Так как камеры одинаковые, то надо освоить udev для привязки левой и правой камер к конкретным портам

[2021-06-12 07:59] KaiL4eK opened #61 "Разработка карты участка трассы с полигона"

[2021-06-12 08:23] KaiL4eK opened #62 "Произвести калибрование камер по снятым фото с сеткой и сохранить параметры"
Параметры - три файла, лучше рядом еще положить ридми с описанием стенда (две камеры на деревяхе)

[2021-06-12 08:24] KaiL4eK opened #63 "Настроить stereo_image_proc"
Нужно, чтобы он брал из правильной папки файлы калибрования и применял их для получения ректифицированного изображения

[2021-06-12 08:25] KaiL4eK opened #64 "Настроить rtabmap на применение ректифицированного изображения"

[2021-06-12 08:42] KaiL4eK opened #65 "Добавить функционал просмотра данных с камер в драйвер"
Сделать опцию в драйвере USB камер для запуска просмотра изображений с левой и правой камер

[2021-06-12 08:54] KaiL4eK opened #66 "Сделать создание требуемых TF для реального робота"

[2021-06-12 09:20] KaiL4eK opened #68 "Разработка обертки для Intel RealSense"
Разрабатываем скрипты запуска и проверяем работу камеры Intel RealSense D435i

[2021-06-13 14:36] #68 closed, assigned to KaiL4eK

[2021-06-14 09:40] KaiL4eK opened #70 "Разобраться с обработкой данных gps"
Я думаю, что следующей задачей по GPS будет применение navsat_transform_node

[2021-06-14 09:44] KaiL4eK opened #71 "Добавить на модель тигры IMU и GPS"
В симуляторе добавить на модель датчики, сделать лучше отдельным файлом, основываясь на базовой модели без пружин.

[2021-06-14 09:47] KaiL4eK opened #72 "Сделать конфигурацию планирования маршрута по датчикам в симуляторе"
Нужно сделать конфигурацию для совмещения колёсной одометрии, imu и gps. Далее запустить это все с планированием маршрута и покатать по карте.

[2021-06-14 10:33] KaiL4eK opened #73 "Испытать одометрию по viso2"
http://wiki.ros.org/viso2_ros

[2021-06-14 12:41] KaiL4eK opened #74 "Обновить плагин модели"
Сделать в плагине публикацию сырых данных движения (угол поворота колес в рад и скорость движения в м/с)

[2021-06-14 19:54] KaiL4eK opened #76 "Разработка прослойки для интеграции со стандартами ROS"
Нужна прослойка, чтобы симулятор могу работать с cmd_vel и другими стандартными форматами топиков.

[2021-06-14 19:56] KaiL4eK opened #78 "Разработка скрипта конвертации TigraState в класс для ros_lib для МК"

[2021-06-14 19:57] KaiL4eK opened #79 "UDEV для GPS"

[2021-06-15 12:23] #61 closed, assigned to Shnuer

[2021-06-15 12:23] #65 closed, assigned to Shnuer

[2021-06-15 12:27] #54 closed, assigned to Shnuer

[2021-06-16 15:03] #60 closed, assigned to KaiL4eK, Shnuer

[2021-06-16 16:44] #74 closed, assigned to KaiL4eK

[2021-06-16 16:44] #78 closed, assigned to KaiL4eK

[2021-06-16 19:17] KaiL4eK opened #83 "Организовать обертку по работе с радаром"

[2021-06-17 09:02] #76 closed, assigned to KaiL4eK

[2021-06-17 18:57] #59 closed, assigned to adhelll

[2021-06-17 20:13] #71 closed, assigned to KaiL4eK

[2021-06-19 18:10] KaiL4eK opened #86 "Проверить комп на тигре"
Похоже, что комп отклбчился, надо бы его проверить. Пароль, кажется `giraffe1234`.

[2021-06-19 18:11] KaiL4eK opened #87 "Новое расположение камер"
Нужно сделать камеры на такой же ширине, как и у тигры сейчас. Записать калибровочные данные и получить результаты калибрования. Новые данные нужно также положить в репо.

[2021-06-19 18:22] KaiL4eK commented on #87
И стоит писать в большем разрешении, сейчас из-за низкого плохо работает стерео

[2021-06-19 18:23] KaiL4eK commented on #87
Перед записью обязательно проверь, как работает stereo_image_proc после калибрования.

[2021-06-19 18:27] KaiL4eK opened #88 "Протестировать ORBSLAM2, rgbd_slam (rtab) и VISO2 написать лаунчи под них"

[2021-06-19 18:34] #63 closed, assigned to KaiL4eK, Shnuer

[2021-06-19 18:42] KaiL4eK commented on #87
Для тестирования стерео добавлен файл test_stereo_cameras.launch

[2021-06-20 10:02] KaiL4eK commented on #70
https://www.robotandchisel.com/2020/05/01/outdoor-navigation/

[2021-06-20 13:59] KaiL4eK opened #89 "Настроить move_base для движения без карты"

[2021-06-20 13:59] #89 closed, assigned to KaiL4eK

[2021-06-20 14:52] KaiL4eK opened #90 "Проверить работу RealSense через Rviz и проконтролировать корректность timestamp"

[2021-06-20 15:58] #90 closed, assigned to KaiL4eK

[2021-06-20 16:01] KaiL4eK opened #91 "Использование телефона в качестве источника данных"
В android есть возможность подключить телефон как источник данных для IMU 9DOF и GPS.

[2021-06-20 17:01] KaiL4eK commented on #70
Также, разобраться с понятие коррекции heading и применением магнитометра

[2021-06-21 19:58] #70 closed, assigned to adhelll

[2021-06-21 21:45] KaiL4eK opened #93 "Разобраться с возможность включить два GPS"

[2021-06-21 21:46] KaiL4eK opened #94 "Проверить на реальном GPS топик fix_velocity, есть ли там информация о направлении модуля?"
Есть подозрение, что топик хранит инфу с магнитометра внутри. Надо понять, можем ли мы ее использовать.

[2021-06-24 19:54] KaiL4eK opened #95 "Сделать корпус для elp"

[2021-06-24 19:54] KaiL4eK opened #96 "Придумать крепление gps"

[2021-06-25 18:55] adhelll commented on #94
Для связи с реальным GPS приходится перезапускать его - отключать от COM порта и подключать снова. В таком случае GPS подключается, иначе выходит ошибка "Could not configure serial baud rate".

[2021-06-25 23:21] KaiL4eK opened #97 "Проблема запуска реального GPS Ublox8"
При запуске драйвера бывает проскакивает ошибка. @adhelll опиши дополнительно плх в описании проблему.

[2021-06-25 23:26] #66 closed, assigned to KaiL4eK

[2021-06-26 10:36] adhelll commented on #97
Для связи с реальным GPS приходится перезапускать его - отключать от COM порта и подключать снова. В таком случае GPS подключается, иначе выходит ошибка "Could not configure serial baud rate". Также требуется время для настройки конфигурации.

[2021-06-26 12:51] adhelll commented on #97
Внесены изменения в исходный код для драйвера gps - при ошибке конфигурации порта происходит перезапуск.

[2021-06-26 15:16] KaiL4eK opened #98 "Испытания обвязки GPS"

[2021-06-26 18:26] KaiL4eK opened #99 "Сделать корпус для камер xiaomi"

[2021-06-26 18:28] KaiL4eK opened #100 "Сделать корпус для intel realsense"

[2021-06-26 18:28] KaiL4eK opened #101 "Сделать корпус для intel realsense"

[2021-06-26 20:05] #86 closed, assigned to Shnuer

[2021-06-26 20:05] #94 closed, assigned to adhelll

[2021-06-26 20:06] KaiL4eK commented on #62
Не выполнимо в рамках ROS, так как требуется писать свой скрипт калибрования

[2021-06-26 20:06] #62 closed, assigned to KaiL4eK, Shnuer

[2021-06-26 20:06] #64 closed, assigned to Shnuer

[2021-06-26 20:06] #72 closed, assigned to adhelll

[2021-06-26 20:07] #73 closed, assigned to Shnuer

[2021-06-26 20:08] KaiL4eK commented on #97
Одна из проблем, которую решили - плохой преоббразователь UART-USB, важно понять, воспроизводится ли проблема

[2021-06-28 04:16] KaiL4eK opened #102 "Поставить виртуалку винды на тигру"
Там обязательно нужны:
- офис

[2021-06-28 05:30] KaiL4eK opened #103 "Собрать OpenCV с GPU на тигре"

[2021-06-28 06:24] KaiL4eK opened #104 "Проверить и сделать обертки для телеуправления"
Джойстик, клавиатура

[2021-06-28 09:54] KaiL4eK commented on #101
Первый вариант https://drive.google.com/drive/folders/1enKi4ptoefSdi8rPy66iEr4FxZ_UwQg4?usp=sharing

[2021-06-28 16:03] #87 closed, assigned to Shnuer

[2021-06-28 18:33] #104 closed, assigned to KaiL4eK

[2021-07-03 11:12] #98 closed, assigned to adhelll

[2021-07-11 20:42] #83 closed, assigned to aligtr

[2021-07-18 12:46] #103 closed, assigned to KaiL4eK

[2021-07-18 12:46] #101 closed, assigned to KaiL4eK

[2021-07-18 12:46] #99 closed, assigned to Shnuer

[2021-07-18 12:46] #100 closed, assigned to nobody

[2021-07-18 12:46] #95 closed, assigned to Shnuer

[2021-07-18 12:47] #91 closed, assigned to KaiL4eK

[2021-07-18 12:47] #88 closed, assigned to Shnuer

[2021-09-03 08:05] aligtr opened #108 "Дополнить README"

[2021-11-06 12:54] KaiL4eK opened #109 "Ознакомление с проектом"
Необходимо посмотреть репозиторий, понял, как запустить симулятор и поиграть с ним. По результату сформулировать:
- что добавить в репо (описание)
- что было сложно понять
- что кажется устаревшим и не нужным
- что не удалось понять в-целом

[2021-11-13 14:02] KaiL4eK opened #110 "Ознакомление с проектом"
Необходимо посмотреть репозиторий, понял, как запустить симулятор и поиграть с ним. По результату сформулировать:

- что добавить в репо (описание)
- что было сложно понять
- что кажется устаревшим и не нужным
- что не удалось понять в-целом

[2021-11-13 14:04] KaiL4eK opened #111 "Составление списка ссылок по теме проекта"
Создайте общую ветку и сделайте файлы в папке docs для каждого свой. Туда накидать ссылок по результату анализа подходов с комментариями от себя.

[2021-11-13 14:07] KaiL4eK opened #113 "Ознакомление с запуском GPS RTK на ROS"
Нужно научиться пускать GPS на ROS и проверить стабильность работы.

[2021-11-13 14:08] #108 closed, assigned to aligtr

[2021-12-26 19:21] Alakeyska opened #114 "Запуск симулятора робота с лидаром."
Самостоятельно написать запуск симулятора.
- Использовать модель с лидаром.
- Настроить автономную навигацию с помощью лидара.
- Разобраться с costmap, как настраивать и выяснить почему робот не уезжает дальше 20 метров (может потребоваться помощь Кирилла).
- Gazebo запускать без GUI (headless).

[2021-12-27 10:57] Alakeyska opened #115 "Знакомство с NVIDIA Isaac Sim"
Рассмотреть возможности Nvidia Isaac.
- Попробовать запустить NVIDIA Isaac, разобраться в работе.
- Позапускать примеры. В частности по визуальной одометрии.
- Попробовать перенести имеющиеся наработки по тигре в симулятор.
- Сделать выводы о возможности и целесообразности применения (если железо потянет вообще).

[2022-02-12 21:14] #115 closed, assigned to Alakeyska

[2022-02-12 21:14] KaiL4eK commented on #114
@Alakeyska  закрываем?

[2022-02-12 21:15] #111 closed, assigned to Alakeyska

[2022-02-12 21:23] KaiL4eK opened #116 "Пакет для радара"
Может использовать этот пакет как third-party вмесо сохранения исходников прямо в нашем пакете?

[2022-02-12 21:23] #109 closed, assigned to Alakeyska

[2022-02-12 21:23] #110 closed

[2022-02-12 22:56] Alakeyska commented on #114
Закрываем. В любом случае я залил последнюю версию. Если надо, можно доделать в будущем.

[2022-05-20 21:01] #114 closed, assigned to Alakeyska